3aPart/Punt3/WebContent/wsdl/Weeeb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sample" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sample" xmlns:intf="http://sample" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sample" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="MyMethod">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="MyMethodResponse">
    <complexType>
     <sequence>
      <element name="MyMethodReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="MyMethodResponse">

      <wsdl:part element="impl:MyMethodResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="MyMethodRequest">

      <wsdl:part element="impl:MyMethod" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Weeeb">

      <wsdl:operation name="MyMethod">

         <wsdl:input message="impl:MyMethodRequest" name="MyMethodRequest">

       </wsdl:input>

         <wsdl:output message="impl:MyMethodResponse" name="MyMethodResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WeeebSoapBinding" type="impl:Weeeb">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="MyMethod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="MyMethodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="MyMethodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WeeebService">

      <wsdl:port binding="impl:WeeebSoapBinding" name="Weeeb">

         <wsdlsoap:address location="http://localhost:8090/Punt3/services/Weeeb"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
